<!--trang hiển thị-->
<style>
    .hover:hover {
        box-shadow: 1px 1px 2px black, 0 0 15px #33BAFF, 0 0 5px green;
    }
</style>
<!DOCTYPE html>

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<div class="col-7">
    <h4 style="color:red">Coming Soon</h4>
    <hr style="border-bottom: 1px solid #337ab7;" />
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <a href="~/Book/BookDetail/3"><img src="~/BookImage/EVERYTHING-915x423.jpg" alt="Los Angeles" style="width:100%;"></a>
            </div>

            <div class="item">

                <a href="~/Book/BookDetail/4"><img src="~/BookImage/nhung-tac-pham-van-hoc-kinh-dien-915x423.jpg" alt="Chicago" style="width:100%;"></a>
            </div>

            <div class="item">
               
                <a href="~/Book/BookDetail/5"><img src="~/BookImage/sach-van-hoc-teen-ncc-bach-viet-915x423.jpg" alt="New york" style="width:100%;"></a>
</div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="col-2">
    <h4 style="color:green">This Summer</h4>
    <hr style="border-bottom: 1px solid #337ab7;" />
    <a href="~/Book/BookDetail/6"><img src="https://www.vinabook.com/images/thumbnails/product/240x/168953_p49131m42324.jpg" alt="Los Angeles" style="width:100%;height:84%"></a>

</div>

